---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "The Illustrated AWS";
const description = "Learn with us!";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <h1>About This Book</h1>
  <section class="home-container">
    <section class="home-copy">
      <p>
        In The Illustrated AWS Cloud Book: A Guide to Help You On Your Cloud
        Practitioner Journey, a team of veteran tech educators delivers a visual
        and entertaining guide to Amazon Web Services cloud concepts. The
        authors focus on the job role and responsibilities of an AWS cloud
        practitioner, guiding readers through choosing the best AWS services for
        specific use cases. In addition to general cloud concepts, security and
        compliance, technology, and billing and pricing topics, you’ll find:
      </p>
    </section>
    <section class="hero-image-container">
      <img
        class="hero-image"
        alt="one of the characters in the book"
        src="/assets/images/5.png"
      />
    </section>
  </section>
  <section class="home-container">
    <section class="hero-image-container">
      <img
        class="hero-image"
        alt="one of the characters in the book"
        src="/assets/images/6.png"
      />
    </section>
    <section class="home-copy">
      <p>
        High-resolution, black-and-white illustrations clearly explaining
        critical technical concepts Comprehensive coverage of working with an
        AWS account and understanding the AWS environment.
      </p>
    </section>
  </section>
  <section class="home-container">
    <section class="home-copy">
      <p>
        Complete chapters on each of the main categories of AWS services,
        including Compute, Storage, Database, and Networking.
        
      </p>
    </section>
    <section class="hero-image-container">
      <img
        class="hero-image"
        alt="one of the characters in the book"
        src="/assets/images/3.png"
      />
    </section>
  </section>

  <section class="home-container">
    <section class="hero-image-container">
      <img
        class="hero-image"
        alt="one of the characters in the book"
        src="/assets/images/4.png"
      />
    </section>
    <section class="home-copy">
      <p>
        Perfect for anyone looking for an easy-to-follow and visual introduction
        to the Amazon Web Services cloud, including those considering a career
        as a cloud administrator or technical support person, The Illustrated
        AWS Cloud Book is also an effective resource for business, finance,
        sales, and marketing professionals who support and collaborate with AWS
        tech professionals.
      </p>
    </section>
  </section>
</BaseLayout>
