---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "The Illustrated AWS Cloud: A Guide to Help You on Your Cloud Practitioner Journey";
const description = "Learn with us!";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <main class="home-container">
    <section class="home-copy">
      <h1>The Illustrated AWS Cloud: A Guide to Help You on Your Cloud Practitioner Journey</h1>
      <h3>
        An intuitive, fully illustrated guide to Amazon Web Services for the
        visually oriented. Text by Jen Looper, Illustrations by Denise Yu. Coming soon from Wiley!
      </h3>
       <p>Pre-order this book from:
      </p>
      <p><a href="https://www.amazon.com/Illustrated-AWS-Cloud-Practitioner-Journey/dp/1394225555/ref=sr_1_2?crid=20PW5JY37FTL4&keywords=jen+looper&qid=1695044237&s=books&sprefix=jen+looper%2Cstripbooks%2C103&sr=1-2" target="_blank">Amazon</a></p>
      <p><a href="https://www.barnesandnoble.com/w/the-illustrated-aws-cloud-jen-looper/1143742593?ean=9781394225552" target="_blank">Barnes and Noble</a></p>
      <p><a href="https://www.indigo.ca/en-ca/the-illustrated-aws-cloud-a-guide-to-help-you-on-your-cloud-practitioner-journey/9781394225552.html" target="_blank">Indigo (in Canada)</a></p>
      <p><a href="https://www.waterstones.com/book/the-illustrated-aws-cloud/jen-looper/denise-yu/9781394225552" target="_blank">Waterstones (in UK and EMEA)</a></p>

    </section>

    <section class="hero-image-container">
      <picture>
        <img
          class="hero-image"
          alt="Our book's main characters"
          src="/assets/images/0.jpg"
        />
      </picture>
    </section>
  </main>
</BaseLayout>
