---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "The Illustrated AWS";
const description = "Learn with us!";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <main class="home-container">
    <section class="home-copy">
      <h1>The Illustrated AWS Cloud</h1>
      <h3>
        An intuitive, fully illustrated guide to Amazon Web Services for the
        visually oriented.
      </h3>
      <h4>Coming soon from Wiley!</h4>
    </section>

    <section class="hero-image-container">
      <picture>
        <img
          class="hero-image"
          alt="Our book's main characters"
          src="/assets/images/cover-4.png"
        />
      </picture>
    </section>
  </main>
</BaseLayout>
