---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "The Illustrated AWS";
const description = "Learn with us!";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <h1>Resources</h1>
  <section class="home-container">
    <section class="home-copy">

      <p>
        There are many free resources available for the new Cloud Practitioner
        to learn Cloud fundamentals. If you want flashcards on all the services, <a href="https://quizlet.com/820226351/flashcards?funnelUUID=8ceecd6b-0864-4558-84d9-ddec5d545841">here you go</a>. There's a <a href="https://quizlet.com/820226351/match">matching game</a> to try as well. In addition, we recommend:
      </p>

        <ul>
          <li><a href="https://community.aws">Community.aws blogs and tutorials</a></li>
          <li><a href="https://dev.to/aws">Dev.to for AWS</a></li>
          <li><a href="https://aws.amazon.com/blogs/">AWS Blog</a></li>
          <li><a href="https://www.twitch.tv/aws">BuildOn Twitch</a></li>
          <li><a href="https://explore.skillbuilder.aws/">Skill Builder</a></li>
          <li><a href="https://www.awseducate.com/">AWS Educate</a></li>
          <li><a href="https://workshops.aws/">Workshops.aws</a></li>
          <li>
            <a href="https://studiolab.sagemaker.aws/">SageMaker Studio Lab</a>
          </li>
          <li><a href="https://github.com/aws-samples">AWS Code Samples</a></li>
          <li>
            <a
              href="https://explore.skillbuilder.aws/learn/course/11458/play/42651/play-cloud-quest-cloud-practitioner"
              >Cloud Quest (Cloud Practitioner free module)</a
            >
          </li>
          <li>
            <a href="https://mlu-explain.github.io/"
              >MLU (Machine Learning University) Explain</a
            >
          </li>
        </ul>    
    </section>

    <section class="hero-image-container">
      <img
        class="hero-image"
        alt="all together now"
        src="/assets/images/trip.jpg"
      />
    </section>
  </section>
    
    <section class="home-container">

      <section class="hero-image-container">
        <img
          class="hero-image"
          alt="one of the characters in the book"
          src="/assets/images/training.png"
        />
      </section>

    <section class="home-copy">
      <p>Throughout the book, we have referenced areas in AWS documentation. 
        Here's a list, per chapter and topic, of where you should go to deepen your understanding.</p>
        
        <p>Chapter 1</p><ul><li>links coming soon</li></ul>

        <p>Chapter 2</p><ul><li>links coming soon</li></ul>

        <p>Chapter 3</p><ul><li>links coming soon</li></ul>

        <p>Chapter 4</p><ul><li>links coming soon</li></ul>

        <p>Chapter 5</p><ul><li>links coming soon</li></ul>
    
      </section>

      
    </section>

</BaseLayout>
