---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "The Illustrated AWS";
const description = "Learn with us!";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <h1>Supplement</h1>
  <section class="home-container">
    <section class="home-copy">
      <p>
        Try a word association exercise to match the service to its function. Drag and drop the word to match.
      </p>
    </section>
  </section>
</BaseLayout>
