---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "The Illustrated AWS";
const description = "Learn with us!";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <h1>Supplement</h1>
  <section class="home-container">
    <section class="home-copy">
      <p>
        Try <a href=https://quizlet.com/820226351/all-237-aws-services-flash-cards/?i=1q3ej&x=1jqt target="_blank">this Quizlet</a> to learn about the 237+ AWS Services. Test your knowledge using various card-sorting and matching formats!
      </p>
    </section>
  </section>
</BaseLayout>
